.profile__edit {
  grid-area: edit;
  width: 24px;
  height: 24px;
  justify-self: end;
  align-self: end;
  background: transparent;
  background-image: url('../../../images/EditButton.svg');
  border: none;
  box-sizing: content-box;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 10px 0;
  padding: 0;
  transition: opacity 0.1s ease-in;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    justify-self: start;
    margin: 0 0 5px 5px;
  }
}