.elements {
  max-width: 100%;
  min-height: 45vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  gap: 20px;
  margin: 0;
  padding: 0 200px;
}

@media screen and (max-width: 1279px) {
  .elements {
    padding: 10px 75px;
  }
}

@media screen and (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px 19px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}