.element__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
  width: 18px;
  height: 19px;
  background: transparent;
  background-image: url(../../../images/DeleteButton.svg);
  border: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in;
  visibility: visible;
}

.element__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}